@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap");
::-webkit-scrollbar {
  width: 5px;
  height: 8px;
  border-radius: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: white;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: #033862;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #033862;
}

* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  text-decoration: none;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Jost", sans-serif;
}

a {
  text-decoration: none;
}

@media (max-width: 1024px) {
  html {
    font-size: 15px;
  }
}
@media (max-width: 992px) {
  html {
    font-size: 14px;
  }
}
.btn-white {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border-radius: 45px;
  font-size: 18px;
  font-weight: 400;
  color: white;
  padding: 31px 73px;
  border: 1px solid white;
  cursor: pointer;
}
.btn-white i {
  opacity: 0;
  padding-left: 8px;
  transform: translateY(2px);
}
.btn-white i:active {
  opacity: 1;
  background-color: transparent;
  border: solid 1px white;
  color: white;
}
.btn-white i:hover {
  opacity: 1;
}
.btn-white:hover {
  background-color: white;
  color: #8b957c;
  transition: all 0.3s ease;
}

.container {
  max-width: 1900px;
  width: 100%;
  margin: 0 auto;
  padding: 0 120px;
}

.btn-white-outline {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eee;
  border-radius: 45px;
  font-size: 18px;
  font-weight: 400;
  color: #858c68;
  padding: 31px 73px;
  cursor: pointer;
}
.btn-white-outline:hover {
  background-color: white;
  transition: all 0.3s ease;
}

.btn-green {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #858c68;
  border-radius: 45px;
  font-size: 18px;
  font-weight: 400;
  color: white;
  padding: 31px 73px;
  cursor: pointer;
}
.btn-green:hover {
  background: #a3aa87;
  transition: all 0.5s ease;
}

.btn-green-outline {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: 1px solid #858c68;
  border-radius: 45px;
  font-size: 18px;
  font-weight: 400;
  color: #4b4b4b;
  padding: 31px 73px;
  cursor: pointer;
}
.btn-green-outline:hover {
  color: white;
  background: #858c68;
  border: none;
  transition: all 0.3s ease;
}

.input-name,
.input-phone,
.input-comment {
  margin-bottom: 20px;
  display: block;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 45px;
  padding: 16px 0;
  padding-left: 32px;
  padding-right: 250px;
}
.input-name::placeholder,
.input-phone::placeholder,
.input-comment::placeholder {
  color: white;
  font-size: 16px;
  font-weight: 400;
  width: 100%;
}

.btn-input {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  display: block;
  background-color: transparent;
  color: white;
  border: 1px solid white;
  border-radius: 45px;
  padding: 16px 0;
  padding-left: 32px;
  padding-right: 212px;
}
.btn-input input {
  background-color: transparent;
}
.btn-input:hover {
  transition: all 0.3s ease;
}

.header {
  background-color: #8b957c;
  width: 100%;
  height: 1000px;
}
.header .bg-header {
  background: #8c977c url(../images/bg-header.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  position: relative;
}
.header .bg-header .header-logo-mobile {
  display: none;
}
@media (max-width: 450px) {
  .header .bg-header .header-logo-mobile .header-logo-mobile-logo {
    width: 200px;
  }
}
@media (max-width: 350px) {
  .header .bg-header .header-logo-mobile .header-logo-mobile-logo {
    width: 170px;
  }
}
@media (max-width: 1400px) {
  .header .bg-header .header-logo-mobile {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
  }
}
@media (max-width: 1400px) and (max-width: 990px) {
  .header .bg-header .header-logo-mobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  }
}
.header .bg-header .header-logo-mobile .header-logo-mobile-menu {
  font-size: 18px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.header .bg-header .header-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  padding: 20px;
  border-bottom: 1px solid white;
}
.header .bg-header .header-menu ul {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 50px;
}
@media (max-width: 1600px) {
  .header .bg-header .header-menu ul {
    gap: 30px;
  }
}
@media (max-width: 1400px) {
  .header .bg-header .header-menu ul {
    gap: 90px;
  }
}
@media (max-width: 1300px) {
  .header .bg-header .header-menu ul {
    gap: 40px;
  }
}
@media (max-width: 1250px) {
  .header .bg-header .header-menu ul {
    gap: 50px;
  }
}
@media (max-width: 1150px) {
  .header .bg-header .header-menu ul {
    gap: 40px;
  }
}
@media (max-width: 1070px) {
  .header .bg-header .header-menu ul {
    gap: 30px;
  }
}
@media (max-width: 990px) {
  .header .bg-header .header-menu ul {
    display: none;
  }
}
.header .bg-header .header-menu li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
  white-space: nowrap;
}
.header .bg-header .header-menu li a {
  color: white;
  font-size: 18px;
  white-space: nowrap;
}
.header .bg-header .header-menu .header-logo {
  width: 275px;
}
@media (max-width: 1400px) {
  .header .bg-header .header-menu .header-logo {
    display: none;
  }
}
.header .bg-header .header-menu .header-menu-contact {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
@media (max-width: 1400px) {
  .header .bg-header .header-menu .header-menu-contact {
    gap: 60px;
  }
}
@media (max-width: 1300px) {
  .header .bg-header .header-menu .header-menu-contact {
    gap: 60px;
  }
}
@media (max-width: 1200px) {
  .header .bg-header .header-menu .header-menu-contact {
    gap: 50px;
  }
}
@media (max-width: 1150px) {
  .header .bg-header .header-menu .header-menu-contact {
    gap: 30px;
  }
}
@media (max-width: 1070px) {
  .header .bg-header .header-menu .header-menu-contact {
    gap: 20px;
  }
}
@media (max-width: 990px) {
  .header .bg-header .header-menu .header-menu-contact {
    display: none;
  }
}
.header .bg-header .header-menu .header-menu-contact .search-midea {
  display: none;
  cursor: pointer;
}
@media (max-width: 1500px) {
  .header .bg-header .header-menu .header-menu-contact .search-midea {
    display: block;
  }
}
.header .bg-header .header-menu label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
  border: 1px solid white;
  border-radius: 27px;
  padding: 8px;
}
.header .bg-header .header-menu label input {
  background-color: transparent;
  color: white;
}
@media (max-width: 1500px) {
  .header .bg-header .header-menu label {
    display: none;
  }
}
.header .bg-header .header-menu p {
  color: white;
  font-size: 18px;
  cursor: pointer;
}
@media (max-width: 1500px) {
  .header .bg-header .header-menu p {
    font-size: 15px;
  }
}
@media (max-width: 1400px) {
  .header .bg-header .header-menu p {
    font-size: 18px;
  }
}
@media (max-width: 990px) {
  .header .bg-header .header-menu p {
    display: none;
  }
}
.header .bg-header .header-menu .header-menu-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
@media (max-width: 1400px) {
  .header .bg-header .header-menu .header-menu-icons {
    gap: 30px;
  }
}
@media (max-width: 1300px) {
  .header .bg-header .header-menu .header-menu-icons {
    gap: 40px;
  }
}
@media (max-width: 1200px) {
  .header .bg-header .header-menu .header-menu-icons {
    gap: 30px;
  }
}
@media (max-width: 1070px) {
  .header .bg-header .header-menu .header-menu-icons {
    gap: 20px;
  }
}
@media (max-width: 990px) {
  .header .bg-header .header-menu .header-menu-icons {
    display: none;
  }
}
.header .bg-header .header-menu .header-menu-icons .header-menu-icons-basket {
  display: flex;
  justify-content: start;
  align-items: center;
  position: relative;
  cursor: pointer;
}
.header .bg-header .header-menu .header-menu-icons .header-menu-icons-basket .header-menu-icons-basket-count {
  background-color: red;
  border-radius: 50%;
  padding: 5px;
  width: 16px;
  height: 16px;
  font-weight: 600;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -10px;
  right: -6px;
}
.header .bg-header .header-menu .header-menu-icons .header-menu-icons-basket .header-menu-icons-basket-count p {
  font-size: 12px;
}
@media (max-width: 990px) {
  .header .bg-header .header-menu .header-menu-icons .header-menu-icons-basket .header-menu-icons-basket-count {
    display: none;
  }
}
.header .bg-header .container {
  max-width: 1900px;
  width: 100%;
  margin: 0 auto;
  padding: 0 120px;
}
.header .bg-header .header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 83px;
  position: relative;
}
.header .bg-header .header-content .header-content-des h2 {
  color: white;
  font-size: 84px;
  font-weight: 300;
  text-transform: uppercase;
  line-height: 117.84%;
  letter-spacing: 0.84px;
}
.header .bg-header .header-content .header-content-des p {
  color: white;
  font-size: 20px;
  font-weight: 400;
  padding-top: 25px;
  padding-bottom: 57px;
}
.header .bg-header .header-content .header-content-images-box {
  position: relative;
  width: 700px;
  height: 600px;
  z-index: 1;
}
.header .bg-header .header-content .header-content-images-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.header .bg-header .header-content .header-content-images-pauza {
  background: rgba(132, 143, 117, 0.7);
  backdrop-filter: blur(16.5px);
  border-radius: 107px;
  width: 80px;
  height: 80px;
  position: absolute;
  top: 45%;
  left: 45%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s ease;
}
.header .bg-header .header-content .header-content-images-pauza:hover {
  background: rgba(132, 143, 117, 0.9);
}
.header .bg-header .header-content .header-content-images-pauza img {
  transform: translateX(5px);
  margin-left: -3px;
}
.header .bg-header-descphoto {
  position: absolute;
  bottom: -30px;
  right: 50%;
  transform: translateX(50%);
}

.block-top-header {
  background: #f7f9f4;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.block-top-header .block {
  transform: translateY(-50%);
  padding: 15px;
  background-color: white;
  width: calc(25% - 20px);
}
.block-top-header .block .content {
  padding: 0 27px;
  padding-bottom: 80px;
  padding-top: 40px;
  border: 1px solid rgba(139, 151, 124, 0.25);
}
.block-top-header .block .content h5 {
  color: #858c68;
  font-size: 30px;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
}
.block-top-header .block .content p {
  color: #717171;
  font-size: 18px;
  font-weight: 300;
  text-align: center;
}

.block-popular-products {
  margin-top: -96px;
  padding: 0 53px;
  background: #f7f9f4;
}
.block-popular-products-top-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.block-popular-products-top-block-title {
  color: #434540;
  font-size: 100px;
  font-weight: 200;
  text-transform: uppercase;
}
.block-popular-products-top-block-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
}
.block-popular-products-top-block-slide-icon {
  background-color: transparent;
  border: 1px solid #626e52;
  color: #626e52;
  padding: 32px 61px;
  border-radius: 60px;
  cursor: pointer;
  font-size: 24px;
}
.block-popular-products-top-block-slide-icon:hover {
  background-color: #626e52;
  color: white;
  transition: all 0.3s ease;
}
.block-popular-products-content {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}
.block-popular-products-content-box {
  background-color: white;
  border-radius: 30px;
  box-shadow: 0 49px 64.8px -21px rgba(0, 0, 0, 0.15);
  overflow: hidden;
  width: calc(25% - 50px);
  cursor: pointer;
}
.block-popular-products-content-box:hover {
  box-shadow: 0 96px 120px 3px rgba(0, 0, 0, 0.15);
  transition: all 0.3s ease;
}
.block-popular-products-content-box-images {
  background: #f5f4f4;
}
.block-popular-products-content-box-des {
  padding: 0 15px;
}
.block-popular-products-content-box-des h5 {
  color: #858c68;
  font-size: 30px;
  font-weight: 300;
  text-align: center;
  line-height: 35px;
  padding-top: 20px;
  text-transform: uppercase;
}
.block-popular-products-content-box-des-description {
  font-size: 16px;
  color: #4b4b4b;
  text-align: center;
  padding-top: 12px;
  font-weight: 300;
  padding: 24px 0;
}
.block-popular-products-content-box-des-price {
  font-size: 30px;
  color: #4b4b4b;
  font-weight: 300;
  text-align: center;
  padding-bottom: 24px;
}
.block-popular-products-content-box-des-price span {
  font-size: 16px;
  text-decoration: line-through;
  color: #b1b1b1;
  font-weight: 400;
}
.block-popular-products-content-box-kupit {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
  padding-bottom: 15px;
  gap: 10px;
}
.block-popular-products-content-box-kupit-btn {
  width: 100%;
  white-space: nowrap;
  padding: 31px 30px;
}
.block-popular-products-content-box-kupit-heart {
  background: #eee;
  padding: 34px 35px;
  border-radius: 70px;
  cursor: pointer;
}
.block-popular-products-content-box-kupit-heart:hover {
  background: rgba(133, 140, 104, 0.25);
  transition: all 0.3s ease;
}

.block-description {
  padding-top: 160px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 45px;
  background: #f7f9f4;
}
@media (max-width: 650px) {
  .block-description {
    flex-direction: column;
    gap: 0;
    width: 100%;
  }
}
.block-description .images {
  width: 50%;
  height: 720px;
}
@media (max-width: 1300px) {
  .block-description .images {
    height: 500px;
  }
}
@media (max-width: 990px) {
  .block-description .images {
    height: 400px;
  }
}
@media (max-width: 650px) {
  .block-description .images {
    width: 100%;
  }
}
.block-description .images img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.block-description-content-main {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 650px) {
  .block-description-content-main {
    width: 100%;
    margin-top: 30px;
    text-align: center;
  }
}
@media (max-width: 650px) {
  .block-description-content-main-box .btn-green {
    width: 100%;
  }
}
.block-description-title {
  color: #858c68;
  font-size: 30px;
  font-weight: 300;
  text-transform: uppercase;
}
@media (max-width: 650px) {
  .block-description-title {
    text-align: center;
  }
}
.block-description-description {
  color: #4b4b4b;
  font-size: 16px;
  font-weight: 400;
  padding-top: 16px;
  padding-bottom: 45px;
}

.block-animation {
  margin-top: 127px;
}
.block-animation-title {
  color: #858c68;
  font-size: 100px;
  font-weight: 200;
  text-transform: uppercase;
  line-height: 100px;
  text-align: center;
}
@media (max-width: 1400px) {
  .block-animation-title {
    font-size: 65px;
  }
}
@media (max-width: 990px) {
  .block-animation-title {
    font-size: 32px;
    color: #434540;
    line-height: 117.84%;
    font-weight: 400;
  }
}
.block-animation-images {
  margin-top: 80px;
  padding: 0 173px;
}
.block-animation-images-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media (max-width: 990px) {
  .block-animation-images-img {
    display: none;
  }
}
.block-animation-images-img-mobile {
  display: none;
}
@media (max-width: 990px) {
  .block-animation-images-img-mobile {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.block-news {
  margin-top: 120px;
  padding: 0 37px;
}
.block-news-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.block-news-top-title {
  color: #858c68;
  font-size: 100px;
  font-weight: 200;
  text-transform: uppercase;
}
@media (max-width: 1300px) {
  .block-news-top-title {
    font-size: 64px;
  }
}
@media (max-width: 990px) {
  .block-news-top-title {
    font-size: 32px;
    color: #858c68;
  }
}
@media (max-width: 600px) {
  .block-news-top-title {
    font-size: 29px;
  }
}
@media (max-width: 990px) {
  .block-news-top .btn-green-outline {
    display: none;
  }
}
.block-news-slider {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 480px;
  height: 57px;
  background: #ededed;
  padding: 4px;
  border-radius: 4px;
}
@media (max-width: 600px) {
  .block-news-slider {
    width: 320px;
    padding: 0;
  }
}
.block-news-slider-button-active {
  background: #fff;
  border-radius: 4px;
  font-size: 20px;
  font-weight: 400;
  color: #4b4b4b;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.block-news-slider-button {
  background: #ededed;
  border-radius: 4px;
  font-size: 20px;
  font-weight: 400;
  color: #4b4b4b;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.block-news-content {
  display: flex;
  justify-content: space-between;
  align-items: start;
  gap: 80px;
  margin-top: 55px;
}
@media (max-width: 600px) {
  .block-news-content {
    flex-direction: column;
    gap: 0;
  }
}
.block-news-content-main {
  width: 100%;
}
.block-news-content-main-images {
  width: 100%;
  height: 100%;
}
.block-news-content-main-images img {
  width: 100%;
  height: 100%;
}
.block-news-content-main-images-title {
  color: #4b4b4b;
  font-size: 20px;
  font-weight: 400;
  text-transform: uppercase;
  padding-top: 14px;
}
.block-news-content-main-images-mini {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 48px;
  margin-top: 40px;
}
@media (max-width: 990px) {
  .block-news-content-main-images-mini {
    flex-direction: column;
  }
}
.block-news-content-main-images-mini-images {
  width: 100%;
  height: 100%;
}
.block-news-content-description {
  width: 100%;
  max-width: 364px;
  border-left: 1px solid #cccccc;
  padding-left: 37px;
  height: 100%;
  overflow-y: auto;
  padding-right: 10px;
}
@media (max-width: 600px) {
  .block-news-content-description {
    margin-top: 20px;
    border-left: none;
    padding-left: 0;
    padding-right: 0;
  }
}
.block-news-content-description::-webkit-scrollbar {
  width: 2px;
  height: 2px;
  border-radius: 5px;
}
.block-news-content-description::-webkit-scrollbar-track {
  background: white;
}
.block-news-content-description::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: #fff;
}
@media (max-width: 600px) {
  .block-news-content-description-main {
    border-top: 1px solid #cccccc;
    padding-top: 10px;
  }
}
.block-news-content-description-main-title {
  color: #858c68;
  font-size: 20px;
  font-weight: 300;
  line-height: 25px;
}
.block-news-content-description-main-description {
  color: #4b4b4b;
  font-size: 1rem;
  font-weight: 400;
  padding-top: 5px;
  padding-bottom: 16px;
}

.footer {
  background: #7a8667 url(../images/bg-header.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 578px;
  padding: 0 50px;
  margin-top: 120px;
  position: relative;
}
@media (max-width: 1600px) {
  .footer {
    height: 700px;
  }
}
@media (max-width: 1024px) {
  .footer {
    height: 400px;
  }
}
@media (max-width: 500px) {
  .footer {
    height: 500px;
  }
}
.footer-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 30px;
}
.footer-top-logo {
  width: 275px;
}
@media (max-width: 1024px) {
  .footer-top {
    justify-content: center;
  }
}
.footer-top-description {
  color: white;
  font-size: 30px;
  font-weight: 300;
  line-height: 35px;
}
@media (max-width: 1024px) {
  .footer-top-description {
    display: none;
  }
}
.footer-hr {
  width: 100%;
  height: 1px;
  background: rgba(255, 255, 255, 0.25);
  margin-top: 30px;
}
.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 100px;
  margin-top: 64px;
  padding-right: 50px;
}
@media (max-width: 1570px) {
  .footer-content {
    gap: 60px;
  }
}
@media (max-width: 1400px) {
  .footer-content {
    gap: 50px;
  }
}
@media (max-width: 1100px) {
  .footer-content {
    gap: 30px;
  }
}
@media (max-width: 1024px) {
  .footer-content {
    display: none;
  }
}
.footer-content-mobile-box {
  display: none;
}
@media (max-width: 1024px) {
  .footer-content-mobile-box {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-direction: column;
    padding-top: 20px;
  }
  .footer-content-mobile-box-description {
    color: #e1e9d5;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    padding-bottom: 4px;
  }
}
.footer-content-box-title {
  color: white;
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
  padding-bottom: 60px;
}
.footer-content-box ul {
  list-style: none;
  margin-top: 30px;
}
.footer-content-box-item {
  color: #e1e9d5;
  font-size: 18px;
  font-weight: 400;
  padding-bottom: 15px;
  white-space: nowrap;
  position: relative;
}
.footer-content-box-item a {
  color: #e1e9d5;
  text-decoration: none;
  white-space: nowrap;
}
.footer-content-box-telegram {
  display: flex;
  justify-content: start;
  align-items: start;
  gap: 10px;
}
.footer-content-box-icons-count {
  background-color: red;
  border-radius: 50%;
  padding: 5.5px;
  width: 16px;
  height: 16px;
  font-size: 11px;
  font-weight: 600;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -10px;
  right: -6px;
}
@media (max-width: 1200px) {
  .footer-content-box-icons-count {
    display: none;
  }
}
.footer-content-box-basket {
  padding-top: 10px;
}
@media (max-width: 1400px) {
  .footer-content-box-hidden {
    display: none;
  }
}
.footer-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 0 50px;
}
.footer-bottom-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 500px) {
  .footer-bottom-content {
    flex-direction: column;
    align-items: center;
  }
}
.footer-bottom-content-description {
  color: white;
  font-size: 15px;
  font-weight: 400;
  padding: 30px 0;
  cursor: pointer;
}
@media (max-width: 500px) {
  .footer-bottom-content-description {
    padding: 10px 0;
  }
}
.footer-bottom-content-description {
  color: white;
  font-size: 15px;
  font-weight: 400;
  cursor: pointer;
}
.footer-bottom-content-description.ploicy {
  text-decoration-line: underline;
}
@media (max-width: 500px) {
  .footer-bottom-content {
    padding: 10px 0;
  }
}